In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
import itertools
from itertools import combinations

# Загрузка датасета

In [2]:
movies_imdb = pd.read_csv('movie_bd_v5.csv')
movies_imdb.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
movies_imdb.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
data = movies_imdb

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
# определяем прибыль фильма
movies_imdb['profit'] = movies_imdb['revenue'] - movies_imdb['budget'] 
# определяем месяц создания фильма
movies_imdb['release_date'] = pd.to_datetime(movies_imdb['release_date'])
movies_imdb['release_month'] = movies_imdb['release_date'].dt.month
# определяем длину названия
movies_imdb['length'] = movies_imdb.original_title.map(lambda x: len(x) - x.count(" "))
# определяем функцию самого частого значения
def most_common_data(data):
    count = collections.Counter()
    new_data = data.str.split('|', expand = False)
    for lists in new_data:
        for word in lists:
            count[word]+=1
    return count.most_common(1)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"
# +

ВАРИАНТ 1

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['imdb_id','original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
data.query('budget == budget.max()')[['imdb_id', 'budget', 'original_title']]

       imdb_id     budget                               original_title
723  tt1298650  380000000  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'
# +

ВАРИАНТ 1

In [10]:
data[data['runtime'] == data['runtime'].max()][['imdb_id','original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

ВАРИАНТ 2

In [11]:
data.loc[data.runtime==data.runtime.max(), 'original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = 'Winnie the Pooh'
# +

ВАРИАНТ 1

In [13]:
data[data['runtime'] == data['runtime'].min()][['imdb_id','original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

ВАРИАНТ 2

In [14]:
data.loc[data.runtime==data.runtime.min(), 'original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '110'
# +

In [16]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '107'
# +

In [18]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = 'Avatar'
# +

In [20]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data.profit == data.profit.max(),'original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = 'The Lone Ranger'
# +

In [22]:
data.loc[data.profit == data.profit.min(),'original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1478'
# +

In [24]:
data.loc[(data.profit) > 0].shape[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = 'The Dark Knight'
# +

In [26]:
data.loc[data.release_year==2008].sort_values(by='revenue',ascending=False).head(1)['original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = 'The Lone Ranger'
# +

ВАРИАНТ 1

In [28]:
data.loc[(data.release_year>=2008)&(data.release_year<=2014)].sort_values(by='profit').head(1)['original_title'].values[0]

'The Lone Ranger'

ВАРИАНТ 2

In [29]:
data[data.profit == data.query('2012 <= release_year <= 2014').profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,13

# 11. Какого жанра фильмов больше всего?

In [30]:
answers['11'] = 'Drama'
# +

ВАРИАНТ 1

In [31]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

most_common_data(data['genres'])

[('Drama', 782)]

ВАРИАНТ 2

In [32]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:2]

Drama     782
Comedy    683
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [33]:
answers['12'] = 'Drama'
# +

In [34]:
most_common_data(data[data['profit'] > 0]['genres'])

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [35]:
answers['13'] = 'Peter Jackson'
# +

In [36]:
data.groupby('director')[['revenue']].sum().sort_values('revenue', ascending = False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 'Robert Rodriguez'
# +

In [38]:
data_temp = data[data.genres.str.contains("Action")]

In [39]:
most_common_data(data_temp['director'])

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [40]:
answers['15'] = 'Chris Hemsworth'
# +

ВАРИАНТ 1

In [41]:
# считаю через сумму revenue для каждого актера/актрисы
sum_revenue = 0
data_temp = data[data['release_year'] == 2012]
a = pd.Series(data_temp.cast.str.cat(sep = '|').split('|')).value_counts()

count = Counter()
for i in range(0,len(data_temp)):
    for k in data_temp.iloc[i]['cast'].split('|'):
        count[k] += data_temp.iloc[i]['revenue']
count.most_common(1)

[('Chris Hemsworth', 2027450773)]

ВАРИАНТ 2

In [42]:
# считаю через серии
data_temp = data.loc[data['release_year'] == 2012]
actors = set(data_temp.cast.str.split('|').sum())
pd.Series({x: data_temp[data_temp.cast.str.contains(x)].revenue.sum() for x in actors}).sort_values(ascending=False).head(5)

Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Chris Evans          1519557910
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
answers['16'] = 'Matt Damon'
# +

In [44]:
data_budget = data[data['budget'] > data['budget'].mean()]
pd.Series(data_budget.cast.str.cat(sep = '|').split('|')).value_counts()

Matt Damon              18
Adam Sandler            17
Angelina Jolie          16
Eddie Murphy            15
Tom Cruise              15
                        ..
Alexander SkarsgÃ¥rd     1
Robert Mammone           1
Mathieu Amalric          1
Leighton Meester         1
Anil Kapoor              1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [45]:
answers['17'] = 'Action'
# +

In [46]:
count_genres = Counter()
for i in data[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    count_genres += Counter(i)
count_genres.most_common()

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
answers['18'] = 'K-19: The Widowmaker'
# +

In [48]:
data_temp = data[data.production_companies.str.contains('Paramount Pictures')]
data_temp[['imdb_id', 'original_title', 'profit']].sort_values('profit', ascending = True).head(1)

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
answers['19'] = '2015'
# +

In [50]:
pd.DataFrame(data.groupby(by = 'release_year').revenue.sum()).sort_values('revenue', ascending = False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
answers['20'] = '2014'
# +

In [52]:
data_new = data[data.production_companies.str.contains('Warner Bros')]
pd.DataFrame(data_new.groupby(by = 'release_year').profit.sum()).sort_values('profit', ascending = False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
answers['21'] = 'Сентябрь'
# +

In [54]:
data['release_date'] = pd.to_datetime(data['release_date']) 
data['release_month'] = data['release_date'].dt.month
data[['imdb_id','release_month']].groupby(by = 'release_month').count().sort_values('imdb_id', ascending = False)

               imdb_id
release_month
9                  227
12                 190
10                 186
8                  161
3                  156
4                  149
6                  147
11                 146
7                  142
5                  140
2                  135
1                  110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
answers['22'] = '450'
# +

In [56]:
data.query('release_month in ["6","7","8"] ')[['imdb_id']].count()

imdb_id    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
answers['23'] = 'Peter Jackson'
# +

In [58]:
data.query('release_month in ["12", "1", "2"]')[['director','imdb_id']].groupby(by = 'director').count().sort_values('imdb_id', ascending = False).head(1)

               imdb_id
director
Peter Jackson        7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
answers['24'] = 'Four By Two Productions'
# +

In [60]:
data['length'] = data.original_title.map(lambda x: len(x))
new_data = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().to_frame()
data_1 = data.reset_index()
new_data_1 = new_data.reset_index()
new_data_1.columns = ['index', 'index_1', 'company']
data_join = data_1.merge(new_data_1, on = 'index', how = 'left')
data_join[['company', 'length']].groupby('company').mean().sort_values('length', ascending = False).head(1)

                         length
company
Four By Two Productions    83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
answers['25'] = 'Midnight Picture Show'
# +

In [62]:
data['length_overview'] = data.overview.map(lambda x: len(x.split(" ")))
new_data = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().to_frame()
data_1 = data.reset_index()
new_data_1 = new_data.reset_index()
new_data_1.columns = ['index', 'index_1', 'company']
data_join = data_1.merge(new_data_1, on = 'index', how = 'left')
data_join[['company', 'length_overview']].groupby('company').mean().sort_values('length_overview', ascending = False).head(1)

                       length_overview
company
Midnight Picture Show            175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
answers['26'] = 'The Dark Knight,Interstellar,The Imitation Game,Inside Out,Room,The Wolf of Wall Street,Gone Girl,12 Years a Slave,Guardians of the Galaxy,The Lord of the Rings: The Return of the King,Memento,Inception,The Pianist,The Grand Budapest Hotel'
# +

In [64]:
sort_data = data[['imdb_id', 'original_title', 'vote_average']].sort_values('vote_average', ascending = False)
sort_data[sort_data['vote_average'] > sort_data['vote_average'].quantile(0.99)]

        imdb_id                                 original_title  vote_average
599   tt0468569                                The Dark Knight           8.1
118   tt0816692                                   Interstellar           8.0
125   tt2084970                             The Imitation Game           8.0
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
1183  tt0993846                        The Wolf of Wall Street           7.9
128   tt2267998                                      Gone Girl           7.9
1191  tt2024544                               12 Years a Slave           7.9
119   tt2015381                        Guardians of the Galaxy           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1800  tt0209144                                        Memento           7.9
370   tt1375666                                      Inception           7.9
872   tt0253474                                    The Pianist           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 1

In [65]:
answers['27'] = 'Daniel Radcliffe, Emma Watson, Rupert Grint'

In [66]:
# разделяем строку с актерами, берем все комбинации по парам для всего датафрейма, сортируем и добавляем в список
actors_pairs = data.cast.apply(lambda x: list(tuple(sorted(comb)) for comb in combinations(x.split('|'), 2) )).tolist()
# приводим получившийся список по парам в таблицу и подсчитываем количество пар актеров в нем
pairs_table = pd.DataFrame(actors_pairs).stack()
pairs_table.value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Kacey Barnfield, Wentworth Miller)    1
(Keira Knightley, Nonso Anozie)        1
(Ioan Gruffudd, Richard Roxburgh)      1
(Gwyneth Paltrow, Johnny Depp)         1
(Eric Mabius, Milla Jovovich)          1
Length: 17943, dtype: int64

ВАРИАНТ 2

In [67]:
# в этом варианте нет сортировки по алфавиту внутри пары и потому есть пара
# Эммы Уостон и Руперта Гринта, которая встречается 1 раз - она где-то внизу списка
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Adam Sandler Kevin James            5
Kristen Stewart Taylor Lautner      5
Robert Pattinson Taylor Lautner     5
Kristen Stewart Robert Pattinson    5
Hugh Jackman Ian McKellen           5
Name: actor_combinations, dtype: int64

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight,Interstellar,The Imitation Game,Inside Out,Room,The Wolf of Wall Street,Gone Girl,12 Years a Slave,Guardians of the Galaxy,The Lord of the Rings: The Return of the King,Memento,Inception,The Pianist,The Grand Budapest Hotel',
 '27': 'Daniel Radcliffe, Emma Watson, Rupert Grint'}

In [69]:
# и убедиться что ни чего не пропустил)
len(answers)

27